.DS_Store


StatisticalShapeModelofFaces/frontalshapes_manuallyannotated_46points/*

StatisticalShapeModelofFaces/frontalimages_spatiallynormalized_part1/*

StatisticalShapeModelofFaces/frontalimages_spatiallynormalized_part2/*

.ipynb_checkpoints

.ipynb_checkpoints/*




